body{
    padding: 20px;
    background-color: #caf0f8;      
}
    
#name{
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 30px;
}

#description, #abiliity{
    font-family: 'Lora', serif;
    font-size: 18px;
    

}


.fontlora{
    font-family: 'Lora', serif;
    font-size: 18px;
}

li{
    font-family: 'Lora', serif;
    font-size: 18px;
}

#image{
    margin-left: 35px;
    float: left;
    margin-right: 15px;
    padding: 35px;
    background-color: #97cde5;
    border-radius: 4px;
}


p{
    font-size: 18px;
}

#description{
    text-align: justify;
    line-height: 28px;
}

strong{
    font-size: 19px;
}

#abiliityBlock{
    display: inline;
    margin-left: 30px;
}

.pbold{
   font-weight: 800;
}

